body {
	width: 300px;
	text-align: left;
	padding: 10px;
}

h2 {
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
}

li {
	margin-bottom: 8px;
	cursor: pointer;
	color: #3498db;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Style for when hovering over a list item */
li:hover {
	text-decoration: underline;
}
