/* popup.css */
body {
  width: 300px;
  text-align: left;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

li {
  margin-bottom: 8px;
  cursor: pointer;
  color: #3498db;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

/* Style for when hovering over a list item */
li:hover {
  text-decoration: underline;
}

button.deleteButton {
  margin-left: 10px; /* Add margin for spacing between the button and text */
  background-color: #e74c3c; /* Red color for delete button */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.deleteButton:hover {
  background-color: #c0392b; /* Darker red on hover */
}
